@import "tailwindcss";

html {
    font-size: 16px;
}

.bg-dark {
    background-color: #242424;
}

body {
    overflow-x: hidden;
}

.container {
    flex: 1;
}

.nav-shadow {
    -webkit-box-shadow: 0px 31px 54px -20px rgba(0, 0, 0, 0.31) inset;
    -moz-box-shadow: 0px 31px 54px -20px rgba(0, 0, 0, 0.31) inset;
    box-shadow: 0px 31px 54px -20px rgba(0, 0, 0, 0.31) inset;
}

h1 {
    font-size: 1.7rem;
    font-weight: 800;
}
h2 {
    font-size: 1.5rem;
    font-weight: 800;
}
h3 {
    font-size: 1.3em;
    font-weight: 800;
}

.main-padding {
    padding: 1.5rem 2.5rem 1rem;
}

.bg-custom {
    background-image: linear-gradient(to top, black, #00000004);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 639px) {
    .main-padding {
        padding: 1rem 0.6rem;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1em;
    }
    .main-padding {
        padding: 1rem 0.6rem;
    }
}

@media (min-width: 724px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.2em;
    }

    .main-padding {
        padding: 1rem 1.5rem;
    }
}

@media (min-width: 1024px) {
    .text-vertical {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
}

.gelatine {
    animation: gelatine 0.7s infinite 0.4s;
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
